/* Project Font Family from Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Custom Variables */
:root {
  --text-primary-color: #212121;
  --button-text-color: #fcf5e5;
  --primary-color: #ffffff;
  --maxWidth: 1440px;
  --mobileMaxWidth: 320px;
  --background-color: #fcf5e5;
}

/* Universal Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: var(--background-color);
}
/* Project parent container */
.container {
  max-width: var(--maxWidth);
}

/* Desktop View Styling */
main {
    width: 100%;
  }
  section{
    margin-top:30px ;
  }
  main section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 25px;
    padding: 1.5rem;
  }


  main section img:first-child {
    width: 100%;
    border-radius: 5px;
  }
  
  main section .card-text {
    margin-block-start: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  main section .card-text i {
    color: rgb(165, 165, 165);
    font-weight: 100;
  }
  
  main section .card-text p {
    font-weight: 400;
  }

  footer {
    margin-block: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer p {
    color: var(--text-primary-color);
    opacity: 0.7;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.28rem;
}

  

/* Mobile View Styling */
@media  (max-width: 480px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }
  /* Hero Section styles  */
  .hero {
    width: 100%;
    background-color: var(--primary-color);
    padding-block: 20px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex_container {
    height: 366px;
    margin: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }
  .hero-content {
    text-align: center;
  }
  .avatar-image > img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
  }
  .hero-text {
    padding: 8px;
    margin-top: 12px;
    font-weight: 500;
    height: 130px;
  }
  .hero-text p {
    text-align: center;
    font-size: 20px;
    line-height: 1.35rem;
    color: var(--text-primary-color);
  }
  .hero-text p:nth-child(2) {
    font-size: 16px;
    line-height: 1.25rem;
    color: #212121;
    opacity: 0.7;
    padding-top: 6px;
  }
  /* Edit Profile Button  */
  .edit_profile {
    width: 178px;
    height: 35px;
    border: none;
    background-color: var(--background-color);
    color: var(--text-primary-color);
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
  }
  .edit_profile:hover {
    opacity: unset;
  }
  .edit_profile img {
    width: 24px;
  }
  .hero-action-button {
    background-color: var(--text-primary-color);
    width: var(--mobileMaxWidth);
    height: 52px;
    color: var(--button-text-color);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-bottom: -10px;
  }
  .hero-action-button:hover {
    transition: opacity ease-in 0.5s;
    opacity: 0.7;
  }
  .hero-action-button span {
    padding-left: 6px;
  }
  .hero-action-button img {
    width: 16px;
  }
  hr {
    border: 1px solid black;
    width: var(--mobileMaxWidth);
    color: var(--text-primary-color);
    opacity: 0.4;
    margin-top: 20px;
  }
  /* Main Section styles */
  main {
    margin-top: 25px;
    min-height: 100vh;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: var(--mobileMaxWidth);
  }
  .card > img {
    width: var(--mobileMaxWidth);
    padding: 2px;
    height: 328px;
    border-radius: 8px;
    object-fit: cover;
  }
  .card-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-text p {
    color: var(--text-primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25rem;
  }
  .card-text img {
    color: var(--text-primary-color);
    opacity: 0.4;
  }
  .card-text img:hover {
    opacity: unset;
  }
  /* Footer Section */
  footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  footer p {
    color: var(--text-primary-color);
    opacity: 0.7;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25rem;
}
}
