/* Project Font Family from Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Custom Variables */
:root {
  --text-primary-color: #212121;
  --button-text-color: #fcf5e5;
  --primary-color: #ffffff;
  --maxWidth: 1440px;
  --mobileMaxWidth: 320px;
}

/* Universal Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}
header {
  margin: 0 4rem;
}
article {
  background-color: #fcf5e5;
  padding: 0 4rem;
}
/* Project parent container */
.container {
  max-width: var(--maxWidth);
}
main {
  width: 100%;
}
section{
  margin-top:30px ;
}
main section {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 25px;
}
main section img:first-child {
  width: 100%;
  border-radius: 5px;
}

main section .card-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main section .card-text i {
  color: rgb(165, 165, 165);
  font-weight: 100;
}

main section .card-text p {
  font-weight: 400;
}

/* mobile view styling */
@media (max-width: 320px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
